<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wedding hey!!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'guests/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Aguafina Script' rel='stylesheet'>
  </head>
  <body>
    <div class="header">
      <h1 id="mainThought" style="text-align: center">Miłość nigdy nie ustaje ...</h1>
    </div>
    {% block menu %}
    
    {% endblock menu %}

    {% block content %}

    {% endblock content %}
  </body>
</html>
