{% extends 'base.html' %}
{% block menu %}
  <div class="contentMenu">
    {% include "guest_menu.html"%}
  </div>
{% endblock menu %}

{% block content %}
  <div class="content">
    {% if companion.first_name %}
    <h3>Dane osoby towarzyszącej</h3>
    <p>Imię: {{ companion.first_name }}</p>
    <p>Nazwisko: {{ companion.last_name }}</p>
    <p>Jedzenie: {{ companion.food }}</p>
    <a href="/companion_edit_info/{{ user.id }}">
      <button type="button" name="button">Edytuj dane</button>
    </a>
    <a href="/companion_delete_info/{{ user.id }}">
      <button type="button" name="button">Wyczyść dane</button>
    </a>
    {% else %}
    <h3>Brak danych do wyświetlenia!</h3>
    <a href="/companion_add_info/{{ user.id }}">
      <button type="button" name="button">Dodaj dane</button>
    </a>
    {% endif %}
  </div>
  <div class="mainPage">
    <a href="/guest_info/{{ user.id }}">
      <button type="button" name="button">Wróć do poprzedniej strony</button>
    </a>
  </div>
  <div class="logout">
    <a href="/guest_logout">
      <button type="button" name="button">Wyloguj się</button>
    </a>
  </div>
{% endblock content %}
