{% extends 'base.html' %}
{% block content %}
  {% if companion.first_name %}
    <h3>Dane osoby towarzyszącej</h3>
    <p>Imię: {{ companion.first_name }}</p>
    <p>Nazwisko: {{ companion.last_name }}</p>
    <p>Jedzenie: {{ companion.food }}</p>
    <a href="/companion_edit_info/{{ user.id }}">Edytuj dane</a>
    <a href="/companion_delete_info/{{ user.id }}">Wyczyść dane</a>
  {% else %}
    <h3>Brak danych do wyświetlenia!</h3>
    <a href="/companion_add_info/{{ user.id }}">
      <button type="button" name="button">Dodaj dane</button>
    </a>
  {% endif %}
  <br><br><a href="/guest_page/{{ user.id }}">Wróć do strony głównej</a>
{% endblock content %}
