{% extends 'base.html' %}
{% block content %}
  {% if guest.first_name %}
  <h3>Twoje dane</h3>
    <p>Imię: {{ guest.first_name }}</p>
    <p>Nazwisko: {{ guest.last_name }}</p>
    <p>Email: {{ guest.email }}</p>
    <p>Telefon: {{ guest.phone }}</p>
    <p>Opcja jedzenia: {{ guest.food }}</p>
    <p><a href="/companion_info/{{ user.id }}">Osoba towarzysząca</a></p>
    <a href="/guest_edit_info/{{ user.id }}">Edytuj dane</a>
    <a href="/guest_delete_info/{{ user.id }}">Wyczyść dane</a>
  {% else %}
    <h3>Brak danych do wyświetlenia!</h3>
    <a href="/guest_add_info/{{ user.id }}">
      <button type="button" name="button">DODAJ DANE</button>
    </a>
  {% endif %}<br>
  <a href="/guest_page/{{ user.id }}">Wróć do strony głównej</a>

{% endblock content %}
