{% extends 'base.html' %}
{% block content %}
<div class="form">
  <h2>Logowanie gościa</h2>
  <h4>{{ error }}</h4>
  <form action="" method="post">
    {% csrf_token %}
    {{ form|linebreaks }}
    <input type="submit" value="Zaloguj się">
  </form>
</div>
<div class="register">
  <a href="/guest_register">
    <button type="button" name="button">Zarejestruj się</button>
  </a>
</div>
<div class="mainPage">
  <a href="/hello">
    <button type="button" name="button">Strona powitalna</button>
  </a>
</div>
{% endblock content %}
