{% extends 'base.html' %}
{% block content %}
  {% if couple %}
    <h3>Dane małżonków</h3>
    <ol>
      {% for spouse in couple %}
      <li>
        {% if spouse.first_name %}
          <p>Imię: {{ spouse.first_name }}</p>
          <p>Nazwisko: {{ spouse.last_name }}</p>
          <p>Opis: {{ spouse.description }}</p>
          <p>Email: {{ spouse.email }}</p>
          <p>Telefon: {{ spouse.phone }}</p>
        {% else %}
          <h4>Brak danych małżonka</h4>
        {% endif %}
      {% endfor %}
      </li>
    </ol>
    <a href="/guest_page/{{ user.id }}">Wróć do strony głównej</a>
    <br><a href="/guest_logout">Wyloguj się</a>
  {% else %}
    <h3>Brak danych do wyświetlenia</h3>
    <a href="/guest_page/{{ user.id }}">Wróć do strony głównej</a>
    <br><a href="/guest_logout">Wyloguj się</a>
  {% endif %}

{% endblock content %}
