{% extends 'base.html' %}
{% block content %}

  {% if spouse %}
    <a href="/spouse_add_info/{{ user.id }}">
      <button type="button" name="button">DODAJ SWOJE DANE</button>
    </a>
    <a href="/spouse_info">
      <button type="button" name="button">DANE MAŁŻONKÓW</button>
    </a>
  {% else %}
    <h3>Brak danych do wyświetlenia!</h3>
    <a href="/spouse_add_info">
      <button type="button" name="button">DODAJ MAŁŻONKA</button>
    </a>
  {% endif %}
  <p><a href="/couple_page">Wróć do strony głównej</a></p>
{% endblock content %}
