{% extends 'base.html' %}
{% block menu %}
  <div class="contentMenu">
    {% include "couple_menu.html" %}
  </div>
{% endblock menu %}
{% block content %}

  <div class="content">
    {% if list %}
      <h3>Zadania do wykonania</h3>
      {% for thing in list %}
      <p>{{ thing }}</p>
      {% endfor %}
    {% else %}
      <h3>Brak zadań do wykonania</h3>
      <a href="{% url 'to-do-add' %}">
        <button type="button" name="button">Dodaj zadanie</button>
      </a>
    {% endif %}
  </div>
  <div class="mainPage">
    <a href="/couple_page">
      <button type="button" name="button">Wróć do strony głównej</button>
    </a>
  </div>
  <div class="logout">
    <a href="{% url 'couple-logout' %}">
      <button type="button" name="button">Wyloguj się</button>
    </a>
  </div>


{% endblock content %}
