{% extends 'base.html' %}
{% block content %}

  {% if infos %}
    <h3>{{ text }}</h3>
    <a href="/wedding_add_info">
      <button type="button" name="button">DODAJ DANE</button>
    </a>
    <a href="/wedding_info">
      <button type="button" name="button">ZOBACZ DANE</button>
    </a>
  {% else %}
    <h3>Brak danych o weselu!</h3>
    <a href="/wedding_add_info">
      <button type="button" name="button">DODAJ DANE</button>
    </a>
  {% endif %}
  <p><a href="/couple_page">Wróć do strony głównej</a></p>

{% endblock content %}
