{% extends 'base.html' %}
{% block content %}
  {% if guests %}
    <ol>
      {% for guest in guests %}
        <li>
          {% if guest.first_name %}
              <a href="/wedding_guest_info/{{ guest.user.id }}">
                {{ guest.first_name }} {{ guest.last_name }}
              </a>
          {% else %}
            <h4>Brak danych gościa</h4>
          {% endif %}
      {% endfor %}
        </li>
    </ol>
  {% else %}
    <h3>Brak gości do wyświetlenia!</h3>
  {% endif %}
  <a href="/couple_page">Wróć do strony głównej</a>

{% endblock content %}
