{% extends 'base.html' %}
{% block content %}
  <h3>{{ text }}</h3>
  {% if infos %}
    {% for info in infos %}
    <p>Nazwa kościoła: {{ info.church_name }}</p>
    <p>Adres kościoła: {{ info.church_address }}</p>
    <a target=_blank href="{{ info.church_view }}">Zobacz kościół</a></br><br>
    <p>Nazwa sali: {{ info.premises_name }}</p>
    <p>Adres sali: {{ info.premises_address }}</p>
    <a target=_blank href="{{ info.premises_view }}">Zobacz salę</a>
    <br>
    <a href="/wedding_edit_info/{{ info.id }}">Edytuj wesele</a>
    <a href="/wedding_delete/{{ info.id }}">Skasuj wesele</a><br><br>
    {% endfor %}
  {% endif %}
  </br>
  </br>
  <a href="/wedding_page">Wróć do strony z salami</a>
{% endblock content%}
